* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right, #f1bebe 0%, #f3d87f 100%);
  padding: 3em 0;
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
  text-transform: capitalize;
}
.buttons {
  padding-block: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
}
button {
  width: 180px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 3px 15px 0px #00000097;
  font-size: 20px;
  color: #fff;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
[data-type="submit"] {
  background-color: #2ecc71;
}
[data-type="submit-progress"] {
  background-color: #1c7f45;
}
button[data-type="submit"]:hover {
  background-color: #1c7f45;
}
[data-type="failed"] {
  background-color: #e74c3c;
}
[data-type="failed-progress"] {
  background-color: #923127;
}
button[data-type="failed"]:hover {
  background-color: #923127;
}
[data-type="info"] {
  background-color: #3498db;
}
[data-type="info-progress"] {
  background-color: #21618c;
}
button[data-type="info"]:hover {
  background-color: #21618c;
}
[data-type="warning-progress"] {
  background-color: #c9a30e;
}
[data-type="warning"] {
  background-color: #f1c40f;
}
button[data-type="warning"]:hover {
  background-color: #c9a30e;
}

.toast {
  position: fixed;
  top: 50%;
  left: 0px;
  max-width: 300px;
  padding: 10px;
  text-transform: capitalize;
}
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  gap: 10px;
}
.toast-progress {
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0px;
  left: 0px;
}
.notification img {
  width: 40px;
}
.toast.show {
  animation: slideInFromLeft 1s ease-in-out forwards;
}
.toast.hide {
  animation: slideOutFromRight 1s ease-in-out forwards;
}
.toast-progress.animate {
  animation: toastProgress 5s ease-in-out forwards;
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  80% {
    transform: translateX(280px);
  }
  100% {
    opacity: 1;
    transform: translateX(250px);
  }
}
@keyframes slideOutFromRight {
  0% {
    opacity: 1;
    transform: translateX(250px);
  }
  80% {
    opacity: 0.5;
    transform: translateX(280px);
  }
  100% {
    opacity: 0;
    transform: translateX(-300px);
  }
}
@keyframes toastProgress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
